.advantages {
  max-width: 320px;
}

.advantages__wrapper {
  max-width: 280px;
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.advantages-list {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  list-style-type: none;
}

.advantages-lsit__item {
  padding: 0 0 0 80px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }
}
