.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    width: auto;
    display: grid;
    grid-template-columns: 246px 246px;
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 248px);
    column-gap: 78px;
  }
}

.advantages-lsit__item {
  width: 198px;
  padding: 0 0 0 80px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    width: 246px;
    padding: 0;
  }
}
