.cooperation--modified {
  background-color: #f2f2f2;
}

.cooperation__wrapper {
  width: 280px;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 426px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    transform: translateY(94px);
    margin-left: 110px;
    padding: 60px 70px 60px;
  }
}

.cooperation__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 10px;
  }
}

.cooperation__contact-address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    margin-left: 80px;
  }
}

.cooperation__map {
  display: block;

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.cooperation__map-wrapper {
  @media (min-width: 768px) {
    position: relative;
    padding: 0 0 53% 0;
    height: 0;
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    position: relative;
    padding: 0 0 27.79% 0;
    height: 0;
    overflow: hidden;
  }
}

.cooperation__paragraph {
  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 18px;
  }
}
