.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  cursor: pointer;
}

.copyright:hover .copyright__link {
  color: #68b738;
}

.copyright:active .copyright__text {
  opacity: 60%;
}

.copyright:active .copyright__link {
  opacity: 60%;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.copyright__link {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-left: 25px;
  }
}
