.extras {
  position: relative;

  @media (max-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 300px;
      background-color: #68b738;
      left: 0;
      top: -46px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 1330px;
      background-color: #68b738;
      top: -77px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 70px;
      background-color: #68b738;
      top: -77px;
      left: -110px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 697px;
      background-color: #68b738;
      left: 0;
      top: -77px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: #68b738;
      top: -77px;
      left: -70px;
    }
  }
}

.extras__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.extras__label-wrapper {
  @media (max-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 41px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    column-gap: 0;
    flex-wrap: wrap;
  }
}

.extras__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 37px;
  padding: 19px 23px 0 0;
  position: relative;
  background-color: #ffffff;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 41px;
    padding-top: 64px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
    margin-bottom: 67px;
  }
}

.extras__label {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 221px;
    font-size: 20px;
    line-height: 30px;
  }
}

.extras-list {
  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.extras-list__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 161px;
    margin-right: 144px;
  }
}


.extras-list__characteristics {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column-start: 1;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    margin-right: 92px;
  }

  @media (min-width: @desktop-width) {
    width: 132px;
    text-align: start;
    margin-right: 90px;
  }
}

.extras-list__characteristics-value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
    min-width: 43px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    text-align: start;
    margin-left: 0;
  }
}

.extras-list__item {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    border-top: 1px solid #cdcdcd;
    padding: 26px 38px 26px;
    gap: 22px;
    align-items: baseline;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 15px 0 16px;

    &:last-child {
      margin-bottom: 35px;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .extras-list__characteristics-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.extras__control-label {
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.extras__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -5px;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.extras__input-field[type="checkbox"]:checked + .extras__control-mark {
  background-image: url("../img/control-mark_tick.png");
  background-position: center;
  background-repeat: no-repeat;
}

.extras__label:hover .extras__control-mark {
  border: 1px solid #bababa;
}

.extras__input-field:disabled + .extras__control-mark {
  opacity: 30%;
}
