.extras__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 34px;
}

.extras__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;
  padding-top: 22px;
}

.extras__label {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.extras-list__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
}

.extras-list__characteristics {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column-start: 1;

}

.extras-list__characteristics-value {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;
}

.extras-list__item {
  border-bottom: 1px solid #CDCDCD;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;

  &:last-child {
    margin-bottom: 35px;
  }
}
