.form-section {
  width: 280px;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: auto;
    padding: 0;
  }
}

.form-section__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.form-section__text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-section__wrapper {
  padding-top: 27px;

  @media (min-width: 768px) {
    padding: 20px 66px 0 70px;
  }

  @media (min-width: 1200px) {
    padding: 20px 0 0;
  }
}
