.form-section {
  max-width: 280px;
  padding: 0 20px;
}

.form-section__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.form-section__text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-section__wrapper {
  padding-top: 27px;
}

.programm-selection-form__personal-info {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.personal-info__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &:last-child {
    margin-bottom: 24px;
  }
}

.programm-selection-form__programm-type {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 22px 0 19px;
}

.programm-type__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.programm-selection-form__pet-parent-info {
  border: none;
  margin: 0;
  padding: 0 0 23px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.pet-parent-info__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-top: 26px;
  margin-bottom: 36px;
}

.pet-parent-info__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.programm-selection-form__comment {
  margin: 0;
  padding: 0;
  border: none;
}

.comment__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 36px;
}

.comment__field {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #444444;
  padding: 9px 12px 0;
}

.programm-selection-form__extras {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  border: none;
  display: flex;
  flex-direction: column;
}

.programm-selection-form__required-hint {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #000000;
}
