.main-footer {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    width: 1440px;
    position: relative;
    padding: 0;
  }
}

.main-footer__menu-wrapper {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: 1200px) {
    padding: 0 110px;
  }
}

.main-footer__text-logo {
  display: block;
  padding: 38px 76px 31px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 57px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 0;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-footer__social {
  padding: 20px 0 17px;
  border-bottom: 1px #d9d9d9 solid;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 11px 0 17px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 0 16px 28px;
  }
}

.main-footer__logo {
  border-bottom: 1px #d9d9d9 solid;

  @media (min-width: 768px) {
    width: 128px;
  }
}
