.nutrition-programm {
  max-width: 320px;
  text-align: center;
}

.nutrition-programm__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.nutrition-programm__wrapper {
  background-image: url("../img/hero-background-cat.jpg");
  background-repeat: no-repeat;
  padding: 27px 20px 0 20px;
  color: #ffffff;
}

.nutrition-programm__link {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.nutrition-programm__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 25px 0;
}

.nutrition-programm__img-wrapper {
  width: 280;
  height: 270;
}

.nutrition-programm__img-wrapper-pic {
  display: block;
  margin: 0 auto;
}

.progamm-title {
  margin-bottom: 30px;
}

.programm-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
