.pet-parent-info {
  position: relative;

  @media (max-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 300px;
      background-color: #68b738;
      left: 0;
      top: -74px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 1330px;
      background-color: #68b738;
      top: -52px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 70px;
      background-color: #68b738;
      top: -52px;
      left: -110px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 697px;
      background-color: #68b738;
      left: 0;
      top: -50px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: #68b738;
      top: -50px;
      left: -70px;
    }
  }
}

.pet-parent-info__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-top: 26px;
  margin-bottom: 36px;
  position: relative;
  background-color: #ffffff;
  z-index: 1;

  @media (max-width: @tablet-width) {
    width: 187px;
    padding-right: 14px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 71px 42px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
  }
}

.pet-parent-info__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.pet-parent-info__input-field--email {
  background-image: url("../img/email-icon.png");
  background-repeat: no-repeat;
  background-position: 95%;
}

.pet-parent-info__input-field--phone {
  background-image: url("../img/phone-icon.png");
  background-repeat: no-repeat;
  background-position: 96%;
}

