.product-extras-gifts {
  width: 280px;
  height: 290px;
  background-image: url("../img/catalog_gift-case.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgba(104, 183, 56, 0.85);
}

.product-extras-gifts__title {
  padding-top: 186px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 161px;
  color: #ffffff;
  margin: 0 auto;
}
