.product-catalog {
  max-width: 280px;
  padding: 27px 20px 0;
  margin-bottom: 50px;
}

.product-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-catalog__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
