.product-extras {
  width: 280px;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding-bottom: 76px;
  }
}

.product-extras__wrapper {
  @media (min-width: 768px) {
    width: auto;
    padding: 0;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.product-extras__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.product-extras__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
