.product-card-more {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: @tablet-width) {
    background-color: #ffffff;
    background-image: url("../img/catalog/more-plus-mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
  }

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    background-image: url("../img/catalog/more-plus_icon.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
  }
}

.product-card-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  margin: 0 auto;
  margin-bottom: 8px;
  padding-top: 78px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    width: 134px;
    text-align: center;
  }
}

.product-card-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 166px;
    text-align: center;
    margin-bottom: 70px;
  }
}
