.programm-selection__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 280px;
}

.programm-selection__title {
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
}

.programm-selection__describtion {
  font-family: Arial, sans-serif;
  margin: 0 0 38px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  width: 227px;
}

.programm-selection__item {
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
  background-color: #F2F2F2;

  &:last-child {
    margin-bottom: 0;
  }
}

.programm-selection__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: start;
  text-decoration: none;
  color: #000000;
}
