.programm-selection-form__personal-info {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.programm-selection-form__programm-type {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 22px 0 19px;
}

.programm-selection-form__extras {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  border: none;
  display: flex;
  flex-direction: column;
}

.programm-selection-form__required-hint {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #000000;
}

.programm-selection-form__comment {
  margin: 0;
  padding: 0;
  border: none;
}

.programm-selection-form__pet-parent-info {
  border: none;
  margin: 0;
  padding: 0 0 23px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
