.results {
  max-width: 280px;
  padding: 25px 20px 40px;
  background-color: #EAEAEA;
}

.results__title {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.results__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.results__list {
  margin: 0;
}

.results__number {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.results__description {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
}

.results__food-expenses {
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.results__list__wrapper {
  margin-bottom: 20px;
}

.results__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
