.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
    font-size: 20px;
    min-width: 478px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding-bottom: 12px;
  }
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  &:hover {
    opacity: 60%;
  }

  &:focus {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    padding-top: 12px;

    &--current::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: rgba(104, 183, 56, 1);
      width: 100%;
      bottom: -12px;
    }
  }

  @media (max-width: @mobile-width-only) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 22px 0 23px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 13px;

    &--current::before {
      content: "";
      bottom: 5px;
    }
  }
}

.site-list__link--modified {
  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link--current-modified::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    bottom: 6px;
  }
}

.site-list__item:first-child {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #e6e6e6;
  }
}
