.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.site-list__link--modified {
  @media (min-width: 1200px) {
    color: #ffffff;
  }
}
