.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 24px;
}

.social__link .social__link-logo {
  &:hover {
    opacity: 80%;
    fill: currentColor;
  }

  &:active {
    opacity: 60%;
    fill: currentColor;
  }
}

.social__link {
  color: #666666;

  &:hover {
    color: #68b738;
  }
}
