.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link .social__link-logo {
  &:hover {
    opacity: 80%;
    stroke: #68b738;
  }

  &:active {
    opacity: 60%;
    stroke: #68b738;
  }
}

.social__link-logo {
  fill: #666666;
}

.social__link--youtube {
  margin: 0 24px;
}
